<header>
  <div class="collapse bg-danger" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            Welcome on this API based website that lets you browse through your
            favorites series and select the one you already saw
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a routerLink="login" class="text-white">Login</a></li>
            <li><a routerLink="logout" class="text-white">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-danger shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Netchill</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="page-footer bg-danger">
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright :
    <a class="text-white" href="https://github.com/elliot-garnero"
      >Les développeurs</a
    >
  </div>
</footer>
